In [1]:
"""
Pandas:
    Series: A column; Creat a one dimensional numpy array or python list
    DataFrame: A multidimensional table made up of a collection of series
"""

'\nSeries: A column; Creat a one dimensional numpy array or python list\nDataFrame: A multidimensional table made up of a collection of series\n'

In [12]:
import pandas as pd
import numpy as np 

nums = [1, 2, 3, 4, 5]

# Creating Pandas Series with Default Index; Index --> Value
s = pd.Series(nums)
print(s)

# Creating Pandas Series with Custom Index
s = pd.Series(nums, index=[1,2,3,4,5])
print(s)

fruits = ['Orange', 'Banana', 'Mango']
fruits = pd.Series(fruits, index=[1,2,3])
print(fruits)

0    1
1    2
2    3
3    4
4    5
dtype: int64
1    1
2    2
3    3
4    4
5    5
dtype: int64
1    Orange
2    Banana
3     Mango
dtype: object

In [15]:
# Creating Pandas Series from a Dictionary
dct = {'name':'Yagouba','country':'Guinea','city':'Conakry'}
s = pd.Series(dct) # Dict key becomes series index
print(s)

# Creating a Constant Pandas Series
s = pd.Series(10, index=[1,2,3])
print(s)

# Creating a Pandas Series Using Linspace: Give me N points between A and B
s = pd.Series(np.linspace(5, 20, 10)) # linspace(starting, end, items)
print(s)

name       Yagouba
country     Guinea
city       Conakry
dtype: object
1    10
2    10
3    10
dtype: int64
0     5.000000
1     6.666667
2     8.333333
3    10.000000
4    11.666667
5    13.333333
6    15.000000
7    16.666667
8    18.333333
9    20.000000
dtype: float64

In [24]:
# Creating DataFrames from List of Lists
data = [
    ['Asabeneh', 'Finland', 'Helsink'], 
    ['David', 'UK', 'London'],
    ['John', 'Sweden', 'Stockholm']
]
df = pd.DataFrame(data, columns=['Names', 'Country', 'City'])
print(df)

# Creating DataFrames Using Dictionary
data = {'Name': ['Asabeneh', 'David', 'John'], 'Country':[
    'Finland', 'UK', 'Sweden'], 'City': ['Helsiki', 'London', 'Stockholm']}
df = pd.DataFrame(data) # Dict keys become column names
print('\n', df)

# Creating DataFrames Using Dictionary
data = [
    {'Name': 'Asabeneh', 'Country': 'Finland', 'City': 'Helsinki'},
    {'Name': 'David', 'Country': 'UK', 'City': 'London'},
    {'Name': 'John', 'Country': 'Sweden', 'City': 'Stockholm'}]
df = pd.DataFrame(data) # Each Unique dict key become a column name
print('\n', df)

      Names  Country       City
0  Asabeneh  Finland    Helsink
1     David       UK     London
2      John   Sweden  Stockholm

        Name  Country       City
0  Asabeneh  Finland    Helsiki
1     David       UK     London
2      John   Sweden  Stockholm

        Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [31]:
# Reading CSV FIle Using Pandas
df = pd.read_csv('.\Data\weight-height.csv')
print(df)

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [50]:
# Data Exploration
print(df.head()) # give five rows we can increase the number of rows by passing argument to the head() method
print(df.tail()) # tails give the last five rows, we can increase the rows by passing argument to tail() method

print("\n", df.shape) # Returns (amount_of_rows, amount_of_columns)
print(df.columns) # Returns all column titles and data_type

heights = df['Height'] # This now becomes a series (One column of a dataframe)
print("\n", heights)

weights = df['Weight'] # This is now a series
print("\n", weights)

print(len(heights) == len(weights))

# The describe() method provide a descriptive statistical values of a dataset
# The info() method also does something similar
print('\n', heights.describe()) # Give statistical information about heights data
print('\n', weights.describe()) # Give statistical information about weights data
print('\n', df.describe())

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801
      Gender     Height      Weight
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

 (10000, 3)
Index(['Gender', 'Height', 'Weight'], dtype='object')

 0       73.847017
1       68.781904
2       74.110105
3       71.730978
4       69.881796
          ...
9995    66.172652
9996    67.067155
9997    63.867992
9998    69.034243
9999    61.944246
Name: Height, Length: 10000, dtype: float64

 0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64
True

 count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64

 count    10000.000000
mean       161.440357
std         32.108439
min         64.700127
25%        135.818051
50%        161.212928
75%        187.169525
max        269.989699
Name: Weight, dtype: float64

              Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [53]:
"""
Modifying a DataFrame:
    1. Create a new DataFrame
    2. Create a new column and add it to a DataFrame
    3. Remove an existing column from a DataFrame
    4. Modify an existing column in a DataFrame
    5. Change the data type of column values in the DataFrame
"""

data = [
    {"Name": "Asabeneh", "Country":"Finland","City":"Helsinki"},
    {"Name": "David", "Country":"UK","City":"London"},
    {"Name": "John", "Country":"Sweden","City":"Stockholm"}]
df = pd.DataFrame(data)
print(df)

       Name  Country       City
0  Asabeneh  Finland   Helsinki
1     David       UK     London
2      John   Sweden  Stockholm

In [73]:
# Adding a column: Like adding a key to a dict
weights = [74, 78, 69]
df['Weight'] = weights
print('\n', df)

heights = [173, 175, 169]
df['Height'] = heights
print('\n', df)

# Adding BMI: Formula = Weight/(Height * Height) (height in meters) 
    # Change height from centimeters to meters
df['Height'] = df['Height'] * 0.01
print('\n', df)

def calculate_bmi():
    weights = df['Weight']
    heights = df['Height']
    bmi = []

    for w, h in zip(weights, heights):
        bmi.append(w / (h * h))
        
    return bmi

bmi = calculate_bmi()
df['BMI'] = bmi
print('\n', df)

        Name  Country       City  Weight  Height        BMI
0  Asabeneh  Finland   Helsinki      74    1.73  24.725183
1     David       UK     London      78    1.75  25.469388
2      John   Sweden  Stockholm      69    1.69  24.158818

        Name  Country       City  Weight  Height        BMI
0  Asabeneh  Finland   Helsinki      74     173  24.725183
1     David       UK     London      78     175  25.469388
2      John   Sweden  Stockholm      69     169  24.158818

        Name  Country       City  Weight  Height        BMI
0  Asabeneh  Finland   Helsinki      74    1.73  24.725183
1     David       UK     London      78    1.75  25.469388
2      John   Sweden  Stockholm      69    1.69  24.158818

        Name  Country       City  Weight  Height        BMI
0  Asabeneh  Finland   Helsinki      74    1.73  24.725183
1     David       UK     London      78    1.75  25.469388
2      John   Sweden  Stockholm      69    1.69  24.158818

In [91]:
# Formating DataFrame Columns
df['BMI'] = round(df['BMI'], 1)
print(df)

# Adding more data
birth_year = ['1769', '1985', '1990']
current_year = pd.Series(2025, index=[0,1,2])
df['Birth Year'] = birth_year
df['Current Year'] = current_year
print('\n', df)

       Name  Country       City  Weight  Height   BMI  Birth Year  \
0  Asabeneh  Finland   Helsinki      74    1.73  24.7        1769
1     David       UK     London      78    1.75  25.5        1985
2      John   Sweden  Stockholm      69    1.69  24.2        1990

   Current Year  Ages
0          2025   256
1          2025    40
2          2025    35

        Name  Country       City  Weight  Height   BMI Birth Year  \
0  Asabeneh  Finland   Helsinki      74    1.73  24.7       1769
1     David       UK     London      78    1.75  25.5       1985
2      John   Sweden  Stockholm      69    1.69  24.2       1990

   Current Year  Ages
0          2025   256
1          2025    40
2          2025    35

In [93]:
# Checking Data Types of Column Values
print(df.Weight.dtype)
df['Birth Year'].dtype # Gives a str object, we should change it to an int

df['Birth Year'] = df['Birth Year'].astype('int')
print(df['Birth Year'].dtype) 

df['Current Year'] = df['Current Year'].astype('int')
print(df['Current Year'].dtype) 

ages = df['Current Year'] - df['Birth Year']
print(ages)

df['Ages'] = ages
print(df)

mean = (40 + 35) / 2
print('Mean: ', mean)

int64
int64
int64
0    256
1     40
2     35
dtype: int64
       Name  Country       City  Weight  Height   BMI  Birth Year  \
0  Asabeneh  Finland   Helsinki      74    1.73  24.7        1769
1     David       UK     London      78    1.75  25.5        1985
2      John   Sweden  Stockholm      69    1.69  24.2        1990

   Current Year  Ages
0          2025   256
1          2025    40
2          2025    35
Mean:  37.5

In [95]:
# Boolean Indexing: Only return values that meet certain criteria
print(df[df['Ages'] >  120])
print(df[df['Ages'] <  120])

       Name  Country      City  Weight  Height   BMI  Birth Year  \
0  Asabeneh  Finland  Helsinki      74    1.73  24.7        1769

   Current Year  Ages
0          2025   256
    Name Country       City  Weight  Height   BMI  Birth Year  Current Year  \
1  David      UK     London      78    1.75  25.5        1985          2025
2   John  Sweden  Stockholm      69    1.69  24.2        1990          2025

   Ages
1    40
2    35

In [123]:
"""
Day 25 Exercises:
    1. Read the hacker_news.csv file from data directory
    2. Get the first five rows
    3. Get the last five rows
    4. Get the title column as pandas series
    5. Count the number of rows and columns
        - Filter the titles which contain python
        - Filter the titles which contain JavaScript
        - Explore the data and make sense of it
"""
df = pd.read_csv('./Data/hacker_news.csv') # 1

first_five_rows = df.head() # 2
last_five_rows = df.tail() # 3
titles = pd.Series(df['title']) # 4
rows_and_columns = df.shape

# str.contains(word, case: case_sensitive (T or F), na: missing_vals (T or F) 
python_titles = df[df['title'].str.contains("python", case=False, na=False)]
javascript_titles = df[df['title'].str.contains("javascript", case=False, na=False)]

print(python_titles)
print(javascript_titles)

             id                                              title  \
102    10974870                From Python to Lua: Why We Switched
103    11244541          Ubuntu 16.04 LTS to Ship Without Python 2
144    10963528  Create a GUI Application Using Qt and Python i...
196    10716331  How I Solved GCHQ's Xmas Card with Python and ...
436    11895088  Unikernel Power Comes to Java, Node.js, Go, an...
...         ...                                                ...
19597  12061177  David Beazley  Python Concurrency from the Gro...
19852  10988468    Ask HN: How to automate Python apps deployment?
19862  11738470                          Moving Away from Python 2
19980  12524656                      Python vs. Julia Observations
19998  11735438  Show HN: Decorating: Animated pulsed for your ...

                                                     url  num_points  \
102    https://www.distelli.com/blog/using-lua-for-ou...         243
103    http://news.softpedia.com/news/ubuntu-16-04-lt...           2
144                        http://digitalpeer.com/s/c63e          21
196    http://matthewearl.github.io/2015/12/10/gchq-x...           6
436    http://www.infoworld.com/article/3082051/open-...           3
...                                                  ...         ...
19597        https://www.youtube.com/watch?v=MCs5OvhV9S4           2
19852                                                NaN           4
19862  https://asmeurer.github.io/blog/posts/moving-a...         227
19980  https://medium.com/@Jernfrost/python-vs-julia-...           2
19998             https://github.com/ryukinix/decorating           3

       num_comments        author        created_at
102             188      chase202   1/26/2016 18:17
103               1       _snydly    3/8/2016 10:39
144               1        zoodle   1/24/2016 19:01
196               1          kipi  12/11/2015 10:38
436               1  syslandscape   6/13/2016 16:23
...             ...           ...               ...
19597             1      bakery2k    7/9/2016 13:05
19852            18       aalhour   1/28/2016 14:55
19862           275     ngoldbaum   5/20/2016 15:14
19980             1   blacksmythe    9/18/2016 9:54
19998             1         lerax    5/20/2016 3:48

[160 rows x 7 columns]
             id                                              title  \
267    12352636   Show HN: Hire JavaScript - Top JavaScript Talent
580    10871330  Python integration for the Duktape Javascript ...
811    10741251  Ask HN: Are there any projects or compilers wh...
1046   11343334  If you write JavaScript tools or libraries, bu...
1093   10422726  Rollup.js: A next-generation JavaScript module...
...         ...                                                ...
19349  11448301    Fotorama, a responsive JavaScript photo gallery
19548  12105148                 Another Kind of JavaScript Fatigue
19610  12203508  Lonely programmer detective uncovers the Mozil...
19885  12552131  Ask HN: Best Practices for CSS in a Modern Jav...
20069  12149183  Show HN: Parse recipe ingredients using JavaSc...

                                                     url  num_points  \
267                              https://www.hirejs.com/           1
580               https://pypi.python.org/pypi/pyduktape           3
811                                                  NaN           1
1046   https://medium.com/@Rich_Harris/how-to-not-bre...          48
1093                                 http://rollupjs.org          57
...                                                  ...         ...
19349                                http://fotorama.io/           1
19548  http://chrismm.com/blog/the-other-kind-of-java...           9
19610         http://stackoverflow.com/a/38677222/984780          29
19885                                                NaN           6
20069       https://github.com/herkyl/ingredients-parser           6

       num_comments          author        created_at
267               1        eibrahim   8/24/2016 15:16
580               1         stefano    1/9/2016 14:26
811               2         ggonweb  12/15/2015 23:26
1046             19     callumlocke   3/23/2016 10:54
1093             17         dmmalam   10/21/2015 0:02
...             ...             ...               ...
19349             1         alexkon    4/7/2016 15:59
19548             2    JacksCracked    7/16/2016 3:44
19610             8    luisperezphd    8/1/2016 16:07
19885             6        xwvvvvwx   9/21/2016 20:53
20069             2  zongitsrinzler   7/23/2016 11:35

[170 rows x 7 columns]